﻿@model AppAproaciones.SOLICITUDES_AUTO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SOLICITUDES_AUTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMPANIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPANIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_SOLICITUD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_SOLICITUD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_HORA_CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_HORA_CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARTICULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTICULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAZON_SOLICITUD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAZON_SOLICITUD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_HORA_APORBACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_HORA_APORBACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_APROBACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_APROBACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAZON_RECHAZADA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAZON_RECHAZADA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionArticulo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
