﻿<!DOCTYPE html>
@model AppAproaciones.SOLICITUDES_AUTO
<html lang="es">

<head>

    <meta charset="utf-8">

@{
    ViewBag.Title = "Details";
}

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


</head>


@Html.Raw(TempData["msg"])
<div class="text-center">

    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 style="color: #060606!important">Solicitud de Aprobación de Facturación Bajo Costo</h1>
                <hr style="color: #0056b2;" />

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Compañia</th>
                            <td>@Html.DisplayFor(model => model.COMPANIA)</td>
                        </tr>

                        <tr>
                            <th scope="row">Usuario Solicita</th>
                            <td>@Html.DisplayFor(model => model.USUARIO_SOLICITUD)</td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha Creacion</th>
                            <td>@Html.DisplayFor(model => model.FECHA_HORA_CREACION)</td>
                        </tr>
                        <tr>
                            <th scope="row">Articulo</th>
                            <td>@Html.DisplayFor(model => model.ARTICULO)</td>

                        </tr>
                        <tr>
                            <th scope="row">Descripcion Articulo</th>
                            <td>@Html.DisplayFor(model => model.DescripcionArticulo)</td>

                        </tr>
                        <tr>
                            <th scope="row">Razon Solicitud</th>
                            <td>@Html.DisplayFor(model => model.RAZON_SOLICITUD)</td>

                        </tr>

                        <tr>
                            <th scope="row">Precio Articulo</th>
                            <td>@Html.DisplayFor(model => model.precio)</td>

                        </tr>
                        <tr>
                            <th scope="row">Costo Articulo</th>
                            <td>@Html.DisplayFor(model => model.costo)</td>

                        </tr>
                        <tr>
                            <th scope="row">Diferencia</th>
                            <td>@Html.DisplayFor(model => model.diferencia)</td>

                        </tr>
                        <tr>
                            <th scope="row">Estado</th>
                            <td>
                                @if (Html.DisplayFor(model => model.ESTADO).ToString() == "P")
                                {
                                    <span>Pendiente</span>
                                }
                                else
                                {
                                    if (Html.DisplayFor(model => model.ESTADO).ToString() == "A")
                                    {
                                        <span>Aprobado</span>
                                    }
                                    else
                                    {
                                        <span>Rechazado</span>
                                    }
                                }
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Fecha Aprobacion</th>
                            <td>@Html.DisplayFor(model => model.FECHA_HORA_APORBACION)</td>

                        </tr>
                        <tr>
                            <th scope="row">Usuario Aprobacion</th>
                            <td>@Html.DisplayFor(model => model.USUARIO_APROBACION)</td>

                        </tr>
                        <tr>
                            <th scope="row">Razon Rechazo</th>
                            <td>@Html.DisplayFor(model => model.RAZON_RECHAZADA)</td>

                        </tr>

                    </tbody>
                    <br>
                    
                    <table colspan="2">
                        <input class="btn-lg btn-primary" style="padding: 0.5rem 5rem; border: 1rem; margin-right: 4px; background-color: #0ad81a;" type="button"  value="Aprobar" onclick="location.href='@Url.Action("Aprobar",  new { id = Model.IDSOLICITUES_AUTO })'" />              
                        <input class="btn-lg btn-primary" style="padding: 0.5rem 5rem; border: 1rem; margin-right: 4px; background-color: #f50000;" type="button"  value="Rechazar" onclick="location.href='@Url.Action("Edit",  new { id = Model.IDSOLICITUES_AUTO })'" />
                    </table>
                </table>
        </div>
    </div>
    </form>
</div>
</div>
    </div>
  </header>

</body>
